<div class="img-container">
  <img *ngIf="!isError && serviceInFlight" style="height: 300px" src="./assets/hud.svg">
  <img *ngIf="!isError && !serviceInFlight" src="./assets/logo.png">
  <img *ngIf="isError" src="./assets/warning.png">
</div>
<div class="btn-container">
  <button *ngIf="key" class="myButton" [ngClass]="{'disabled': serviceInFlight}" (click)="attemptOpen()">
    <ng-container *ngIf="!serviceInFlight">Open The Gate</ng-container>
    <ng-container *ngIf="serviceInFlight">Sending Signal...</ng-container>
  </button>
</div>
<div class="info-container">
  <ng-container>{{message}}</ng-container>
  <!-- <ng-container *ngIf="isError">{{message}}</ng-container> -->

</div>
